# Node and npm
node_modules/
npm-debug.log*

# Build folders
dist/
build/

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Environment files
.env

# Logs and temp
*.log
*.tmp
